doctype html
html
  head
    title= 'ToDo List App'

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.text-center ToDo List App
    .container
    block content
